[submodule "rf2o_laser_odometry"]
	path = src/rf2o_laser_odometry
	url = https://github.com/MAPIRlab/rf2o_laser_odometry.git
[submodule "hipnuc_imu"]
	path = hipnuc_imu
	url = https://github.com/TzuChiehHung/hipnuc_imu.git
[submodule "LS01B"]
	path = src/LS01B
	url = https://github.com/leishen-lidar/LS01B.git
[submodule "robot_localization"]
	path = src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "serial"]
	path = src/serial
	url = https://github.com/wjwwood/serial.git
[submodule "imu_tools"]
	path = src/imu_tools
	url = https://github.com/CCNYRoboticsLab/imu_tools.git
[submodule "src/hipnuc_imu"]
	path = src/hipnuc_imu
	url = https://github.com/TzuChiehHung/hipnuc_imu.git
[submodule "src/imu_tools"]
	path = src/imu_tools
	url = https://github.com/CCNYRoboticsLab/imu_tools.git
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/wjwwood/serial.git
[submodule "src/rf2o_laser_odometry"]
	path = src/rf2o_laser_odometry
	url = https://github.com/MAPIRlab/rf2o_laser_odometry.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "src/LS01B"]
	path = src/LS01B
	url = https://github.com/leishen-lidar/LS01B.git
